.product-section {
  background-color: #f8f8f8;
  overflow: hidden;
}

.product-section .content p {
  color: gray;
  margin: 20px 0px;
}

.product-section .content button {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
  border: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.product-section .content button:hover {
  background-color: #1f1f1f;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.product-section .box {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding: 10px 0px;
}

@media (max-width: 767px) {
  .product-section .box {
    margin: 70px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-section .box {
    margin: 50px 0px;
  }
}

.product-section .box:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  background-color: #cbcbcb;
}